.home{

}
.home-heading{
    display: flex;
    align-items: center;
    padding: 8px 155px;
    border-bottom: 1px solid var(--line-color);
}
.home-heading__label{
    font-size: 1.4rem;
    color: var(--sub-text-color);
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
.homeimg1{  
    margin-left: 0%;
    margin-top: 18%;
    background-color: transparent;
    width: 80%;
}
.topic1{
    margin-left: 25%;
    margin-top: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    /* identical to box height */

    
    letter-spacing: -0.02em;
    color: #336D51;
}
.topic2{
    

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #336E51;
}
.topic3{
   
    
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em; 
}
.topic4{
    width: 200px;
    height: 50px;

    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.02em;

    color: #336D51;

}
.topic5{
    width: 90%;
    margin: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #898989;
    
}
.btn_ShopNow{
    
    margin: 5% 20% 0 20%;
    width: 60%;
    background-color: transparent;
    border-style:none;
}
.btn_ShopNow:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_left {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
}
.btn_left:hover{
    border: 1px solid var(--primary-color);
}
.btn_right {
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 50%;
   
}
.btn_right:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn_view-more{
    margin-top: 25%;
    margin-left:10%;
    margin-right: 10%;
    background-color: #E6ECE9;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_view-detail{
    margin-top: 5%;
    margin-left: 46%;
    margin-right: 46%;
    background-color: #E6ECE9;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_view-more:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.btn_view-detail:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.homeimg2{
   margin: auto;
   display: block;
   width: 90%;
    
}
.homeimg3{
    margin: auto;
   display: block;
   width: 90%;

}
.icon1{
margin: 10% 3% 0 35%;
}
.icon2{
    margin: 5% 3% 0 35%;
}
.icon3{
    margin: 5% 3% 0 35%;
}
.contact1{
    padding: 0 2% 0 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;
}
.contact2{
    padding: 0 2% 0 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;

}
.contact3{
    padding: 0 2% 0 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;
}
.contact4{
    margin: 10% 2% 0 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #336E51;

}
.txtEmail{
    margin: 3% 0% 0% 30%;
    width: 40%;
    height: 20%;
    border: 1px solid #336E51;
    box-sizing: border-box;
    border-radius: 3px;
}
.btnRegister{
    margin: 3% 0% 0% 40%;
    background: #336D51;
    box-shadow: 0px 4px 4px rgba(102, 126, 234, 0.25);
    border-radius: 50px;
}
.btnRegister:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.voucher{
    margin: 5% 0 0 35%;
}
.txtvoucher1{
    margin: 3% 20% 0 15%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtvoucher2{
    margin: 3% 20% 0 25%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;

}
.txtvoucher3{
    margin: 10% 20% 0 15%;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.process{
    margin: 5% 20% 0 25%;
}
.txtprocess1{
    margin: 3% 20% 0 0%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtprocess2{
    margin: 3% 20% 0 10%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtprocess3{
    margin: 10% 20% 0 0%;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.services{
    margin: 5% 0% 0 30%;
}
.txtservices1{
    margin: 3% 20% 0 10%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtservices2{
    margin: 3% 15% 0 10%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtservices3{
    margin: 10% 15% 0 5%;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.methods{
    margin: 5% 0% 0 30%;
}
.txtmethods1{
    margin: 3% 10% 0 0%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtmethods2{
    margin: 3% 10% 0 10%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtmethods3{
    margin: 10% 10% 0 0%;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.products-filter{
    margin: 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products-select-type{
    justify-content: space-between;
    align-items: center;
    width: 20% ;
    padding: 12px 16px;
    margin: 0 22px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
}
.products-select-type__label{
    font-size: 1.3rem;
    line-height: 0;
}
.products-select-type__icon{
    font-size: 1.3rem;
}
/* Product Container */
.products-container{
}
.products-container-row{
    margin-top: 37px;
}
.products-container-item{
    display: flex;
    flex-direction: column;
}
.products-container-item__pic{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.products-container-item-img{
    width: 100%;
    border-radius: 10px;
}
.products-container-item-heart{
    position: absolute;
    top: 16px;
    left: 16px;
}
.products-container-item__info{
    padding: 0 8px;
}
.product-name-box{
    height: 5%;
    margin: 16px 0 8px 0;
}
.product-name{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    line-height: 2.4rem;
}
.product-review{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.product-review-img{
    margin-right: 8px;
}
.product-review-number{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 0;
}
.product-price{
    font-size: 2rem;
    font-weight: 500;
    margin: 18px 0 0 0;
    text-align: center;
    color: var(--sub-text-color);
}
.btn_buy-now{
    margin-top: 24px;
    border: none;
}
.btn_buy-now:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.products-page{
    margin-top: 16px;
    display: flex;
    width: 100%;
    min-height: 48px;
    justify-content: center;
    align-items: center;
}
.products-page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.products-page-btn:hover{
    background-color: #99B6A8;
}
.products-page-number{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.dp-table-relatedProducts table {
    width: 100%;
    text-align: center;
}

.dp-table-relatedProducts td:nth-child(2) {
    color: #336D51;
    font-size: 25px;
}

.dp-table-relatedProducts hr {
    width: 70%;
    text-align: right;
    justify-content: right;
    border: #336D51 0.5px solid;
}
