.home{

}
.home-heading{
    display: flex;
    align-items: center;
    padding: 8px 155px;
    border-bottom: 1px solid var(--line-color);
}
.home-heading__label{
    font-size: 1.4rem;
    color: var(--sub-text-color);
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
.homeimg1{
    position: absolute;
    width: 482px;
    height: 483px;
    left: 710px;
    top: 210px;
    background-color: transparent;
}
.topic1{
    position: absolute;
    width: 480px;
    height: 88px;
    left: 132px;
    top: 230px;
 

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.02em;
    color: #336D51;
}
.topic2{
    position: absolute;
    width: 424.12px;
    height: 28px;
    left: 158.94px;
    top: 326px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #336E51;
}
.topic3{
    position: absolute;
    width: 427.11px;
    height: 96px;
    left: 157.95px;
    top: 380px;
    
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em; 
}
.topic4{
    width: 200px;
    height: 50px;

    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.02em;

    color: #336D51;

}
.topic5{
    position: absolute;
    width: 1085px;
    height: 96px;
    left: 210px;
    top: 4000px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #898989;
    
}
.btn_ShopNow{
    position: absolute;
    width: 425.11px;
    height: 68.82px;
    left: 159.94px;
    top: 535px;
    background-image: url(/Home/assests/img/Group\ 124.png);
    background-color: transparent;
    border-style:none;
}
.btn_ShopNow:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_left {
    position: absolute;
    top: 1669px;
    left: 100px;
    width: 20px;
    height: 32px;
    background-image: url(/Home/assests/img/btnleft.png);
    background-color: transparent;
    border-style: none;
}
.btn_left:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_right {
    position: absolute;
    top: 1669px;
    right: 100px;
    width: 20px;
    height: 32px;
    background-image: url(/Home/assests/img/btnright.png);
    background-color: transparent;
    border-style: none;
   
}
.btn_right:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_left1 {
    position: absolute;
    top: 2700px;
    left: 100px;
    width: 20px;
    height: 32px;
    background-image: url(/Home/assests/img/btnleft.png);
    background-color: transparent;
    border-style: none;
}
.btn_left1:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_right1 {
    position: absolute;
    top: 2700px;
    right: 100px;
    width: 20px;
    height: 32px;
    background-image: url(/Home/assests/img/btnright.png);
    background-color: transparent;
    border-style: none;
   
}
.btn_right1:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_view-more{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #E6ECE9;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_view-detail{
    margin-top: 100px;
    margin-left: 665px;
    background-color: #E6ECE9;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_view-more:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.btn_view-detail:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.homeimg2{
    position: absolute;
    width: 1176px;
    height: 288px;
    left: 180px;
    top: 860px;
}
.homeimg3{
    position: absolute;
    width: 1176px;
    height: 500px;
    left: 180px;
    top: 3380px;

}
.icon1{
position: absolute;
left: 280px;
top: 4300px;
height: 20px;
width: 15px;
}
.icon2{
    position: absolute;
    left: 280px;
    top: 4350px;
    height: 20px;
    width: 20px;
}
.icon3{
    position: absolute;
    left: 280px;
    top: 4400px;
    height: 15px;
    width: 20px;
}
.contact1{
    position: absolute;
    width: 295px;
    height: 28px;
    left: 319px;
    top: 4295px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;
}
.contact2{
    position: absolute;
    width: 218px;
    height: 28px;
    left: 319px;
    top: 4345px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;

}
.contact3{
    position: absolute;
    width: 179px;
    height: 28px;
    left: 319px;
    top: 4395px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #474747;
}
.contact4{
    position: absolute;
    width: 216px;
    height: 28px;
    left: 954px;
    top: 4295px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #336E51;

}
.txtEmail{
    position: absolute;
    width: 397px;
    height: 36px;
    left: 863px;
    top: 4345px;
    

    border: 1px solid #336E51;
    box-sizing: border-box;
    border-radius: 3px;
}
.btnRegister{
    position: absolute;
    width: 200px;
    height: 45px;
    left: 962px;
    top: 4400px;

    background: #336D51;
    box-shadow: 0px 4px 4px rgba(102, 126, 234, 0.25);
    border-radius: 50px;
}
.btnRegister:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.voucher{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 270px;
    top: 4600px;
}
.txtvoucher1{
    position: absolute;
    width: 188px;
    height: 36px;
    left: 220px;
    top: 4710px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtvoucher2{
    position: absolute;
    width: 218px;
    height: 48px;
    left: 220px;
    top: 4760px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;

}
.txtvoucher3{
    position: absolute;
    width: 198px;
    height: 24px;
    left: 220px;
    top: 4830px;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.process{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 570px;
    top: 4600px;
}
.txtprocess1{
    position: absolute;
    width: 188px;
    height: 36px;
    left: 520px;
    top: 4710px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtprocess2{
    position: absolute;
    width: 218px;
    height: 48px;
    left: 520px;
    top: 4760px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtprocess3{
    position: absolute;
    width: 198px;
    height: 24px;
    left: 520px;
    top: 4830px;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.services{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 870px;
    top: 4600px;
}
.txtservices1{
    position: absolute;
    width: 188px;
    height: 36px;
    left: 820px;
    top: 4710px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtservices2{
    position: absolute;
    width: 218px;
    height: 48px;
    left: 820px;
    top: 4760px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtservices3{
    position: absolute;
    width: 198px;
    height: 24px;
    left: 820px;
    top: 4830px;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.methods{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1170px;
    top: 4600px;
}
.txtmethods1{
    position: absolute;
    width: 188px;
    height: 36px;
    left: 1120px;
    top: 4710px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #7C7C7C;
}
.txtmethods2{
    position: absolute;
    width: 218px;
    height: 48px;
    left: 1120px;
    top: 4760px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #898989;
 
}
.txtmethods3{
    position: absolute;
    width: 198px;
    height: 24px;
    left: 1120px;
    top: 4830px;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #336E51;
}
.products-filter{
    margin: 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products-select-type{
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin: 0 22px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
}
.products-select-type__label{
    font-size: 1.3rem;
    line-height: 0;
}
.products-select-type__icon{
    font-size: 1.3rem;
}
/* Product Container */
.products-container{
}
.products-container-row{
    margin-top: 37px;
}
.products-container-item{
    display: flex;
    flex-direction: column;
}
.products-container-item__pic{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.products-container-item-img{
    width: 100%;
    border-radius: 10px;
}
.products-container-item-heart{
    position: absolute;
    top: 16px;
    left: 16px;
}
.products-container-item__info{
    padding: 0 8px;
}
.product-name-box{
    height: 48px;
    margin: 16px 0 8px 0;
}
.product-name{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    line-height: 2.4rem;
}
.product-review{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.product-review-img{
    margin-right: 8px;
}
.product-review-number{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 0;
}
.product-price{
    font-size: 2rem;
    font-weight: 500;
    margin: 18px 0 0 0;
    text-align: center;
    color: var(--sub-text-color);
}
.btn_buy-now{
    margin-top: 24px;
    border: none;
}
.btn_buy-now:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.products-page{
    margin-top: 16px;
    display: flex;
    width: 100%;
    min-height: 48px;
    justify-content: center;
    align-items: center;
}
.products-page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.products-page-btn:hover{
    background-color: #99B6A8;
}
.products-page-number{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.dp-table-relatedProducts table {
    width: 100%;
    text-align: center;
}

.dp-table-relatedProducts td:nth-child(2) {
    color: #336D51;
    font-size: 25px;
}

.dp-table-relatedProducts hr {
    width: 400px;
    text-align: right;
    justify-content: right;
    border: #336D51 0.5px solid;
}
